* {
  margin: 0;
  padding: 0;
}
html,
body {
  width: 100%;
  height: 100%;
  font-family: "microsoft yahei", '微软雅黑', 'Simsun', Arial;
}
#app {
  min-height: 100%;
  background: url("../images/new-bg.png") no-repeat;
  background-size: 100% 100%;
  display: none;
}
#app .title_bg {
  width: 100%;
}
#app > .main {
  position: relative;
  margin-top: -4.26666667rem;
  padding-bottom: 0.53333333rem;
}
#app > .main .res_wrapper {
  width: 18.4rem;
  margin: 0 auto;
}
#app > .main .res_wrapper .res {
  width: 100%;
  background-color: white;
  border-radius: 0.53333333rem;
  box-sizing: border-box;
}
#app > .main .res_wrapper .res .res_inner {
  width: 16.26666667rem;
  margin: 0 auto;
}
#app > .main .res_wrapper .res .res_inner .res_title {
  font-weight: bold;
  font-size: 0.96rem;
  text-align: center;
  padding: 1.78666667rem 0 0.8rem 0;
}
#app > .main .res_wrapper .res .res_inner .res_title_line {
  width: 100%;
  height: 1px;
  background-color: #e9e9e9;
}
#app > .main .res_wrapper .res .res_inner .res_data {
  width: 14.66666667rem;
  margin: 0 auto;
}
#app > .main .res_wrapper .res .res_inner .res_data .res_data_t1,
#app > .main .res_wrapper .res .res_inner .res_data .res_data_t2 {
  font-size: 0.8rem;
  color: #666;
  margin-top: 1.33333333rem;
}
#app > .main .res_wrapper .res .res_inner .res_data .res_data_t2 {
  margin-top: 1.73333333rem;
}
#app > .main .res_wrapper .res .res_inner .res_data .res_data_box {
  font-size: 0.8rem;
  color: #000000;
  font-weight: bold;
  margin-top: 0.64rem;
  line-height: 1.12rem;
}
#app > .main .res_wrapper .res .res_inner .res_foot {
  font-size: 0.69333333rem;
  color: #999;
  text-align: center;
  padding: 1.38666667rem 0 1.33333333rem 0;
  letter-spacing: 0.05333333rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
#app > .main .res_wrapper .res .res_inner .res_foot::after {
  content: '';
  min-width: 1.6rem;
  height: 1px;
  margin-left: 0.64rem;
  background-color: #bbb;
}
#app > .main .res_wrapper .res .res_inner .res_foot::before {
  content: '';
  min-width: 1.6rem;
  height: 1px;
  margin-right: 0.64rem;
  background-color: #bbb;
}
#app > .main .res_wrapper .foot_tip {
  font-size: 0.64rem;
  line-height: 0.8rem;
  color: #ffffff;
  opacity: 0.8;
  margin-top: 0.8rem;
}
#app > .main .res_wrapper .foot_tip > p {
  margin-bottom: 0.58666667rem;
}
/*
提示弹窗
 */
.alert-div {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.3);
  font-size: 0;
  white-space: nowrap;
  overflow-y: auto;
  word-wrap: break-word;
  z-index: 999;
  text-align: center;
  display: none;
}
.alert-div .alert_inner {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.alert-div .alert_inner .modal {
  font-size: 0.8rem;
  width: 90%;
  background-color: white;
  border-radius: 0.26666667rem;
  display: inline-block;
}
.alert-div .alert_inner .modal_top {
  height: 1.97333333rem;
  line-height: 1.97333333rem;
  color: #c8c8c8;
  border-bottom: 1px solid #c8c8c8;
  text-align: left;
  padding: 0 0.53333333rem;
}
.alert-div .alert_inner .modal_center {
  padding: 1.6rem 1.06666667rem;
  line-height: 1.38666667rem;
  text-align: center;
  white-space: normal;
}
.alert-div .alert_inner .modal_foot {
  display: flex;
  justify-content: space-between;
  border-top: 1px solid #eaeaea;
}
.alert-div .alert_inner .modal_foot > div {
  height: 2.56rem;
  width: 100%;
  line-height: 2.56rem;
}
.alert-div .alert_inner .modal_foot_cancel {
  color: #c4c4c4;
}
.alert-div .alert_inner .modal_foot_confirm {
  border-left: 1px solid #eaeaea;
  color: #60aef3;
}
/*# sourceMappingURL=newIndex.css.map */